.about{//HEADER
    text-align: center;
    font-size: calc(3vw + .5em);
}
.us{//container for detail about us text
    padding-top: 2em;
}
.asia{  //detailed text
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: calc(2vw + .5em);
    color: white;
    padding-top: 0;
}