.gallery{ //Gallery Heading
    text-align: center;
    h1{
        margin: 2vh;
        padding-top: .7em;
        font-size: calc(4vw + 1em);
    }
}


.slider{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

.image{                 //images in slider
    width: calc(23vw + 1em);
    height: calc(23vw + 1em);
    margin: 0rem 1.5vw 0rem 1.5vw;
    &:hover{
        cursor: pointer;
    }
}
.right-arrow{
    position: absolute;
    top: 35%;
    right: 1vw;
    font-size: calc(3vw + .5em);
    color: black;
    z-index: 5;
    cursor: pointer;
    user-select: none;
}
.left-arrow{
    position: absolute;
    top: 35%;
    left: 1vw;
    font-size: calc(3vw + .5em);
    color: black;
    z-index: 5;
    cursor: pointer;
    user-select: none;
}

